<div id="header">

    <div id="logo">
            <a href="{{ '/' | relative_url }}"  title="{{ site.name }}">{{ site.name }}
                <svg width="100px;" height="50px">
             {% include faculty-logo-black.svg %}
         </svg>
            </a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="{{ '/about' | relative_url }}">about</a>
            </li>
            <li>
                <a href="{{ '/about' | relative_url }}">link</a>
            </li>
            <li>
                <a href="{{ '/about' | relative_url }}">link2</a>
            </li>
        </ul>
    </nav>

</div>



