<header>
    <div id="logo">
        <a href="{{ '/' | relative_url }}"  title="{{ site.name }}">{{ site.name }}
            <svg class="logo">
                {% include faculty-logo-black.svg %}
            </svg>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="{{ '/about' | relative_url }}">about</a></li>
            <li><a href="{{ '/archive' | relative_url }}">articles</a></li>
            <li><em><a>shop [coming in 2018]</a></em></li>
        </ul>
    </nav>
</header>



<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>

