@charset "utf-8";

// Color
$lightest-color: #f7f7f7;
$darkest-color:#000000;
$mid-color: #6c6c6c;
$accent-1: #1b34ff;
$accent-2: #ff0ec0;
$accent-3: #ff002c;
$brand-color: #820dff;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);



$base-font-family:  "minerva-modern",sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;



// Import partials.
@import "neat/neat";

