---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "faculty";
@import "normalize.css";

.container {
  @include grid-container;
}

a {
  text-decoration: none;
}

body {
  font-family:$base-font-family;
  position: relative;
  width: 100%;

}

.black-rule {
  margin-top: -10px;
  color:black;
  width:50px;
  height:5px;
  background-color: black;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;

}


$neat-grid: (
        columns: 12,
        gutter: 30px,
)
;






.post-list {
  margin:0 auto;
}

.post-card {
  @include grid-column(6);
  position: relative;
  list-style: none;

}
.post-card img {
  width:100%;
}



.post-card .post-meta {
  background-color: $darkest-color;
  color: $lightest-color;
  position: absolute;
  top:0;
  left:0;
  padding:1em;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
}

.post-link  {
  color:black;
  text-transform: lowercase;
  font-size: .9em;
  font-weight: 300;
  margin-top: -6px;
}

.post-card h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: -6px;


}

#logo {
  @include grid-container;
  width:200px;
  margin: 0 auto !important;
  height:50px;

}

h1 {
  text-align: left;
  font-size: 3em;
  color:black;
  letter-spacing: 1px;
}




#logotext {
  @include grid-container;
  border-left:1px solid black;
  color: #fd829b;
  height:80px;
  padding-left: 1em;
  padding-top:1.5em;

}



#header {
  @include grid-container;
  margin-top: 2em;
  text-align: center;
  width:100%;
  margin-left:0;
}

#intro {
  display:inline-block;
  margin-bottom: 2em;
}

.introtext {
  width:80%;
  text-align: center;
  margin: 0 auto;
  color:black;
  font-weight: 400;
  line-height: 1.25em;
}

h3 {
  text-transform: uppercase;
  font-weight: 600;

}

.post-card img:hover {
  filter:invert(100%);
}


.post-category {
  color:black;
  padding-top: 1em;
}

#wordsinsky {
  z-index: 99;
  position: fixed;
  font-size:.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight:600;
  color:black;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;


}

.text1 {
  top:3em;
  left:4em;
  position: relative;
}

.text2 {
  left:90em;
  top:30em;
  position: relative;
}

.text3 {
  left:-10em;
  top:40em;
  position: relative;
}

.text4 {
  left:15em;
  top:50em;
  position: relative;
}

.text5 {
  left:70em;
  top:40em;
  position: relative;
}

.text6 {
  left:70em;
  top:10em;
  position: relative;
}


footer {
  display: inline-block;
  width:100%;
  background-color: $brand-color;
  color:$lightest-color;
  padding:2em 0;
  height:120px;
  bottom:0;
  left:0;
  right:0;
  margin:0 auto;

}

footer li {
  margin: auto 0;
  list-style: none;
  text-align: center;
}

footer a, footer a:visited {
  color:$lightest-color;
}





footer h3 {
  color:$lightest-color;
  text-align: center;
}

footer a {
  color:$lightest-color;
}


::-moz-selection { /* Code for Firefox */
  color: $lightest-color;
  background: $brand-color;
}

::selection {
  color: $lightest-color;
  background: $brand-color;
}

.about-wide {
  vertical-align: top;
  display: inline-block;
  width:100%;
  padding:2em;
  bottom:0;
  left:0;
  right:0;
  margin:0 auto;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */


}

.accent-1 {
  background-color: $accent-1;

}

.accent-2 {
  background-color: $accent-2;
  color:$lightest-color;
}
.accent-3 {
  background-color: $accent-3;

}


.accent-4 {
  background-color: $accent-2;
}

.accent-img {
  height:400px;
  background-color: #fbffdb;
  background-image: url("../images/faculty_one-1.png");
  background-repeat:no-repeat;
  background-size:cover;


}



.abouttext {
  text-align: center;
  margin: 0 auto;
  color: #fff7fc;
  font-weight: 600;
}

.left {
  @include grid-column(6);

}

.right {
  @include grid-column(6);

}

nav {
  color:black;
  text-align: right;
  @include grid-container;
  text-align: center;
  margin-bottom: 2em;

}

nav ul {
  margin:0;
  padding: 0 0 0 0;


}

nav ul li, nav ul li a  {
  list-style-type: none;
  display:inline;
  margin: 0;
  margin-right: 1em;
  text-transform: uppercase;
  text-decoration: none;
  font-size:1em;
  font-weight: 600;
  color:$darkest-color;
}

nav ul li a:hover {
  color:$brand-color;
}


nav ul li:nth-last-child(1) {
  margin-right: 0em;

}

