---
layout: default
---



<div id="about1">
  <h1 class="abouttext">
    design first. <br>
    artist second. <br>
    humans third. <br>
  </h1>
</div>
<div id="about3">
  <div class="left">
    <h2>Our Philosophy</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in ex at neque blandit pretium. Donec non elementum turpis. Sed vitae semper orci. Cras metus mauris, scelerisque non turpis non, ultrices semper nisi. Aenean egestas augue eu lorem ultricies, nec cursus odio aliquet. Etiam sed venenatis risus, sit amet iaculis leo. Nam scelerisque arcu porta eros placerat ornare.
    </p>
  </div>
  <div class="right">
    <h2>The things we care for</h2>
    <ul>
      <li>Donec non elementum turpis. Sed vitae semper</li>
      <li>Donec non elementum turpis. Sed vitae semper</li>
      <li>Donec non elementum turpis. Sed vitae semper</li>
      <li>Donec non elementum turpis. Sed vitae semper</li>
      <li>Donec non elementum turpis. Sed vitae semper</li>
      <li>Donec non elementum turpis. Sed vitae semper</li>

    </ul>
  </div>
</div>

<div id="about2">
  <h1 class="abouttext">
    use design to help communicate things that are important
  </h1>
</div>





<!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  -->

