---
layout: default
---

<div class="about-wide-img">
  <img src="../images/faculty_one-0.png">
</div>

<div class="about-wide accent-1">
  <h1 class="abouttext">
    honoring humanity <br>
    through experience. <br>
  </h1>
</div>
<div class="about-wide accent-2">
  <div class="left">
    <h2>What we do</h2>
    <p>Faculty is a design practice that fosters and encourages collaboration and experimentation in the creative field.</p>
  </div>
  <div class="right">
    <h2>What matters</h2>
    <ul>
      <li>Responsible design that is human-centered</li>
      <li>Awareness of mental health in the creative industry</li>
      <li>Ethical approaches across all phases of the design process</li>
      <li>Semantic, syntactic and pragmatic perspectives</li>
    </ul>
  </div>
</div>

<div class="about-wide accent-3">
  <h1 class="abouttext">
    use design to help communicate things that are important
  </h1>
</div>

<div class="about-wide accent-img">
</div>


<div class="about-wide accent-4">
  <h1 class="abouttext">
    use design to help communicate things that are important
</h1>

</div>





<!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  -->

