---
layout: default
---



<div id="intro">

</div>



  {{ content }}

<br>

<!--

    {% for post in site.posts %}
    <li class="post-card">
    <a class="post-link" href="{{ post.url | relative_url }}">
        <span class="date"> {% assign date_format = site.minima.date_format | default: "%F" %}</span>

        <img class=postimage" src="{{ '/' | relative_url }}{{ post.image }}"/>
        <span class="post-meta">
          {{ post.date | date: "%m" }}<br>
          {{ post.date | date: "%d" }}<br>
          {{ post.date | date: "%y" }}<br>
        </span>
        <span class="post-category">{{post.categories}}</span>

        <h2>
          {{ post.title | escape }}
        </h2>
    </a>
    </li>
    {% endfor %}
</div>
-->


<!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  -->



